.shadow-div{
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 5px;
    li.ta-list-item{
        padding: 5px 5px 5px 5px;
        min-width: 400px;
        //border-bottom: 1px solid #ececec;
        &:hover{
            background-color:#337ab7;
            color: white;

        }
        .ta-list-main{
            width: 80%;
        }
        .ta-list-icon{
            width: 20%;
        }
    }
    li.ta-list-header{
        padding: 5px 15px 5px 15px;
        font-weight: bold;
    }

};
.create-color{
    color: #1790fb;
}
.search-box-icon{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.multi-box{
    //display:flex;
    //flex-wrap: wrap;
    float:left;
    width:100%;
    border: 1px solid #ccc;
    border-radius:2px;

    .multi-box-header{
        float:left;
        width:60%;

    }
    .multi-box-detail{
        float:left;
        width:35%;
    }
    .multi-box-icon{
        float:left;
        width:5%;
    }
    padding: 5px 5px;
    &:hover{
        border: 1px solid #1790fb;
        border-radius: 2px;
    }
}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}