.multi-box
    .multi-box-header
        label.control-label {{taLabel}}:
    .multi-box-detail
        span(data-ng-bind="multiSelectItems")
    .multi-box-icon
div.shadow-div( data-ng-hide="show")
    .form-group.has-feedback
        input.form-control(type="text" placeholder="search" data-ng-model="term" data-ng-change="query()")
        span.glyphicon.glyphicon-search.form-control-feedback(data-ng-show="term === ''||!term")
        span.glyphicon.glyphicon-remove-circle.search-box-icon(data-ng-show="term && term !== ''" data-ng-click="cancelSearch()")
    ul.list-unstyled

        li.ta-list-header(data-ng-show="term") Search Results: {{taItems.length}}
        li.ta-list-item(item = "i" data-ng-repeat = "i in taItems | filter:term " data-ng-hide="defaultFlag" data-ng-click="vm.select(i)")
            .row
                .col-md-10
                    span(data-ng-bind="i[itemName]")
                .col-md-2
                    i.pull-right.glyphicon.glyphicon-ok.gi-2x.create-color(data-ng-show="i.selected")
        li.ta-list-header(data-ng-show="!term && selectedItems && selectedItems.length > 0") Selected Items:
        li.ta-list-item(item ="i" data-ng-repeat = "i in selectedItems" data-ng-click="vm.select(i)")
            .row
                .col-md-10
                    span(data-ng-bind="i[itemName]")
                .col-md-2
                    i.pull-right.glyphicon.glyphicon-ok.gi-2x.create-color
        li.ta-list-header(data-ng-show="defaultFlag") Suggested List:
        li.ta-list-item(item = "i" data-ng-repeat = "i in taDefaultItems" data-ng-show="defaultFlag" data-ng-click="vm.select(i)")
            .row
                .col-md-10
                    span(data-ng-bind="i[itemName]")